libtool
Makefile
TAGS
*.a
*.ko
*.la
*.lo
*.mod
*.mod.c
*.o
*.orig
*.os
*.rej
*.so
*cscope*
*~
.deps/
.libs/

autom4te.cache
config.log
config.status
Makefile.in
aclocal.m4
config.guess
config.h*
config.sub
configure
install-sh
ltmain.sh
missing
stamp-h1
